@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-decoration: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

textarea:focus, input:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex.nd > * {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.circle {
  border-radius: 50%;
}

.btn {
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}
.btn.wb {
  border: 2px solid #283440;
}
.btn.large {
  width: 20rem;
}

.round {
  border-radius: 5rem;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.t-center {
  text-align: center;
}

.User-target {
  max-width: 30rem;
  overflow: hidden;
  min-height: 40rem;
}
.User-target .user-front-page-image {
  background: bisque;
  height: 8rem;
  width: 100%;
  top: 0;
  left: 0;
}
.User-target .user-data-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.User-target .user-data-content .user-name {
  font-size: 1.4em;
  margin: 0.5rem 0rem 0rem;
}
.User-target .account-summary * span:first-of-type {
  /* background: rebeccapurple; */
  font-size: 1.25em;
}
.User-target .user-image {
  margin-top: 3rem;
  background-color: #46B8DF;
  width: 7rem;
  height: 7rem;
}
.User-target .account-summary {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  border-bottom: solid 1px #283440;
  border-top: solid 1px #283440;
  margin: 1rem 0;
  padding: 1rem 0;
}
.User-target .account-summary .tweets-conunt,
.User-target .account-summary .comments-conunt {
  border-bottom: solid 1px #283440;
}

.Tweet-target .Option-button {
  position: absolute;
  z-index: 100;
  right: 1rem;
}
.Tweet-target .teewt-data {
  gap: 1rem;
}
.Tweet-target .teewt-content {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}
.Tweet-target .teewt-content .posted-by {
  font-size: 0.9em;
}
.Tweet-target .user-image-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.Tweet-target .user-image-content .user-image {
  background-color: #46B8DF;
  height: 5rem;
  width: 5rem;
}
.Tweet-target .teewt-reactions-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}
.Tweet-target .teewt-reactions-content .main-reactions-content {
  gap: 2rem;
}
.Tweet-target .reaction-btns-content {
  gap: 1rem;
}
.Tweet-target .reaction-btns-content .r-action-btn {
  width: 5rem;
}
.Tweet-target .reaction-btns-content .r-action-btns-content,
.Tweet-target .reaction-btns-content .large-btns-content {
  gap: 1rem;
}

.Comunity-display {
  -ms-grid-columns: 1fr 1rem 2fr 1rem 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}
.Comunity-display .user-image {
  background-color: #46B8DF;
  height: 5rem;
  width: 5rem;
}
.Comunity-display .comunity-data-content p {
  margin: 0;
}
.Comunity-display .follow-btn {
  border-radius: 5rem;
  color: #000;
  background-color: #fff;
  min-width: 7rem;
}

.Comunity-target h3 {
  text-align: center;
}
.Comunity-target .comunyties-content {
  margin: 2rem 0;
  gap: 2rem;
}

.Trend-display {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Trend-display .tag {
  color: inherit;
}
.Trend-display .tweets-conunt {
  margin: 0;
}

.Trends-target {
  background-color: rgba(0, 195, 255, 0.5803921569);
}
.Trends-target h4 {
  color: grey;
  text-transform: uppercase;
}
.Trends-target .conconfig-btn {
  font-size: 1.5em;
  z-index: 100;
  right: 1rem;
  top: 1rem;
}
.Trends-target .trending-content {
  margin: 0.5rem 0;
  gap: 1rem;
}

.Post-bar {
  gap: 1rem;
}
.Post-bar .user-image {
  height: 5rem;
  width: 5rem;
  background-color: #46B8DF;
}
.Post-bar .controls-content {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}
.Post-bar #tweet-input {
  font-size: 1.8rem;
  padding: 1.3rem 1rem;
  width: 100%;
  border-radius: 1rem;
}
.Post-bar .btns-content {
  margin-top: 2rem;
  gap: 3rem;
}

.Main-dash-board {
  min-height: 100vh;
  -ms-grid-columns: 1fr 1rem 68rem 1rem 1fr;
  grid-template-columns: 1fr 68rem 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 1rem;
      grid-template-areas: "l content r";
  margin-top: 8rem;
}
.Main-dash-board .main, .Main-dash-board .side-bar-l, .Main-dash-board .side-bar-r {
  gap: 2rem;
}
.Main-dash-board .main {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: content;
}
.Main-dash-board .side-bar-l {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
}
.Main-dash-board .side-bar-r {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: r;
}

.Option-button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 4px;
  padding: 1rem;
  background: transparent;
}
.Option-button .circle {
  background-color: #7c8594;
  height: 4px;
  width: 4px;
}

.Advertisement {
  background-color: #e2732b;
  min-height: 6rem;
}

.Nav-bar {
  margin-bottom: 3rem;
  background: #07131f;
  margin-bottom: 3rem;
  position: fixed;
  /* height: 100vh; */
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  padding: 1rem 2rem 0.2rem;
}
.Nav-bar .seach-bar-content .form-control {
  max-width: 25rem;
}
.Nav-bar .other {
  gap: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.Nav-bar .other .panel-btns-content {
  gap: 2rem;
}
.Nav-bar .other .home-link {
  background-color: #fff;
  color: #000;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.Nav-bar .other .notifications-content {
  gap: 1rem;
}
.Nav-bar .other .user-account-dropdown-content {
  min-width: 15rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1rem;
}
.Nav-bar .other .user-account-dropdown-content::after {
  content: "▼";
  color: #fff;
  position: absolute;
  right: 1rem;
}
.Nav-bar .other .user-account-dropdown-content::before {
  content: "";
  position: absolute;
  background-color: #283440;
  width: 1px;
  height: 80%;
  left: -1.4rem;
}
.Nav-bar .other .user-account-dropdown-content .user-image {
  background-color: aquamarine;
  height: 3rem;
  width: 3rem;
}
.Nav-bar .other .showmore-btn {
  height: 5rem;
  width: 5rem;
}
.Nav-bar .other .ford-points-btn,
.Nav-bar .other .messages-btn,
.Nav-bar .other .notifications-btn,
.Nav-bar .other .showmore-btn {
  background-color: transparent;
}

.Big-button {
  background-color: #46B8DF;
  font-size: 1.34em;
  text-transform: uppercase;
}
.Big-button::before {
  content: "▷ ";
}

:root {
  --color-primary: #46B8DF;
  --color-3: #283440;
}

body {
  padding: 2rem;
  background-color: #07131F;
  color: #E4EBF2;
  font-family: Mukta, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mintext {
  font-size: 0.8em;
}

.t-color-3 {
  color: #7C8594;
}

p {
  margin: 0.5rem 0;
}

a {
  color: #2F94D9;
}

.target {
  background-color: #1A2632;
  border-radius: 1.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.062745098) 0rem 0.5rem 1rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.062745098) 0rem 0.5rem 1rem 0rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-3 {
  background-color: #283440;
}

input[type=text] {
  padding: 1rem;
  color: inherit;
}

.form-control > input[type=text] {
  width: 100%;
}

.user-image {
  background: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=260&h=750&dpr=1);
  background-size: cover;
}