* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-decoration: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

textarea:focus, input:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex.nd > * {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.circle {
  border-radius: 50%;
}

.btn {
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}
.btn.wb {
  border: 2px solid #283440;
}
.btn.large {
  width: 20rem;
}

.round {
  border-radius: 5rem;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.t-center {
  text-align: center;
}

:root {
  --color-primary: #46B8DF;
  --color-2: #1A2632;
  --color-3: #283440;
}

body {
  padding: 2rem;
  background-color: #07131F;
  color: #E4EBF2;
  font-family: Mukta, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mintext {
  font-size: 0.8em;
}

.primary {
  color: var(--color-primary);
}

.warnig {
  color: #ff583e;
}

.t-color-3 {
  color: #7C8594;
}

p {
  margin: 0.5rem 0;
}

a {
  color: #2F94D9;
}

.target {
  background-color: var(--color-2);
  border-radius: 1.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.062745098) 0rem 0.5rem 1rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.062745098) 0rem 0.5rem 1rem 0rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}

input[type=text] {
  padding: 1rem;
  color: inherit;
}

.form-control > input[type=text] {
  width: 100%;
}

.user-image {
  background: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=260&h=750&dpr=1);
  background-size: cover;
}

.Wellcome-bar {
  z-index: 100;
  left: 0;
  width: 100vw;
  top: 0;
}

.Mnemonic-target {
  min-height: 10rem;
  min-width: 10rem;
  max-width: 80vw;
  padding-bottom: 5rem;
}
.Mnemonic-target h2 {
  margin-top: 4rem;
}
.Mnemonic-target form {
  max-width: 50rem;
  margin: auto;
}
.Mnemonic-target form .confirm-btn {
  max-width: 12rem;
}