* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

// froms
input[type="text"] {
  border: none;
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
}