.Trends-target.target
  h3 Lorem, ipsum dolor.
  h4 Lorem, ipsum dolor.
  //- config button
  .conconfig-btn.btn.absolute ⚙
  //- ................
  .trending-content.flex.col
    include ../trend-display/_trend-display-component.pug
    include ../trend-display/_trend-display-component.pug
    include ../trend-display/_trend-display-component.pug
    include ../trend-display/_trend-display-component.pug
    include ../trend-display/_trend-display-component.pug
  a(href="#") Show more