.Trends-target {
  background-color: #00c3ff94;

  h4{
    color: grey;
    text-transform: uppercase;
  }

  .conconfig-btn{
    font-size: 1.5em;
    z-index: 100;
    right: 1rem; // of target padding
    top: 1rem; // of target padding
  }

  .trending-content{
    margin: .5rem 0;
    gap: 1rem;
  }
}