.Private-community-notice.target: .content.m-a
  .key-icon.circle.bg-3.m-a.flex.center: i.material-symbols-outlined.fill.max-w-max key
  h3.title.t-center Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  p.text.t-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. A minima perspiciatis, numquam nemo dolorum nisi quia beatae dicta, provident laborum veritatis dolorem consequuntur sed. Vero minus corporis est eum repudiandae.
  .btns-content.flex.center.gap-2.wrap
    .btn.round.wb Request to Join
    .btn.round.wb Message Mods
    .btn.round.bg-primary Browse Torify
  p.note.mintext.t-color-3.t-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, harum est dolorum illum reiciendis modi autem atque similique quisquam eaque iusto incidunt, fugiat, dignissimos molestiae. Architecto reprehenderit eaque illum suscipit! Lorem ipsum dolor sit amet.