:root{
  --color-primary: #46B8DF;
  --color-2: #1A2632;
  --color-3: #283440;
}

body {
  padding: 2rem;
  background-color: #07131F;
  color: #E4EBF2;
  font-family: Mukta, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


// text
.mintext {
  font-size: .8em;
}

.t-color-3 {
  color: #7C8594;
}


p {
  margin: 0.5rem 0;
}

a {
  color: #2F94D9
}

// ---------------------

.target {
  background-color: var(--color-2);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: #00000010 0rem 0.5rem 1rem 0rem;
}

// bg
.bg-primary {
  background-color: var(--color-primary);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}


// froms
input[type="text"] {
  padding: 1rem;
  color: inherit;
}

.form-control> 
input[type="text"] {
  width: 100%;
}

// dev only
.user-image{
  background: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=260&h=750&dpr=1);
  background-size: cover;
}
