:root {
  --color-primary: #46B8DF;
  --color-1: #07131F;
  --color-2: #1A2632;
  --color-3: #283440;
}

body {
  padding: 2rem;
  background-color: var(--color-1);
  color: #E4EBF2;
  font-family: Mukta, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: calc(132.8rem + 2rem) // of padding
}

hr {
  border-color: var(--color-3);
}

// google fonts

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1;
}

// text
.mintext {
  font-size: .8em;
}

.primary {
  color: var(--color-primary)
}

.warnig {
  color: #ff583e
}

.t-color-3 {
  color: #7C8594;
}


p {
  margin: 0.5rem 0;
}

a {
  color: #2F94D9
}

// ---------------------

.target {
  background-color: var(--color-2);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: #00000010 0rem 0.5rem 1rem 0rem;
}

// bg
.bg-primary {
  background-color: var(--color-primary);
}

.bg-glass {
  background: #000000ab;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}


// froms
input[type="text"],
input[type="number"],
textarea,
select {
  padding: 1rem;
  color: inherit;
}

.form {

  &-control {

    >input[type="text"],
    >input[type="number"],
    >textarea {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &-select {

    >select {
      min-width: 100%;
    }
  }

}

// .form-control>input[type="text"] {
// }

.form-select>select {
  width: 100%;
}

// dev only
.user-image {
  background: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=260&h=750&dpr=1);
  background-size: cover;

  &.s-1 {
    width: 7rem;
    height: 7rem;

  }

  &.s-2 {
    width: 5rem;
    height: 5rem;
  }

  &.s-3 {
    width: 4rem;
    height: 4rem;
  }

  &.s-4 {
    width: 3rem;
    height: 3rem;
  }

}

// ..................................

@media screen and (max-width: 768px) {
  .btn.large {
    min-width: 15rem;
  }
}

@media screen and (max-width: 640px) {
  .btn.large {
    min-width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 460px) {
  body {
    padding: 0;
  }

  .target {
    border-radius: 0;
  }

  .user-image {
    &.s-1 {
      width: 5rem;
      height: 5rem;

    }

    &.s-2 {
      width: 4rem;
      height: 4rem;

    }
  }
}