.flex {
  display: flex;

  >* {
    flex: 1;
  }

  &.nd>* {
    //not distribute
    flex: initial
  }
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.js-c{
  justify-content: center;
}

.js-sb{
  justify-content: space-between;
}

.js-sa{
  justify-content: space-around;
}

.js-s{
  justify-content: start;
}

.js-e{
  justify-content: end;
}

.al-c{
  align-items: center;
}

.al-sb{
  align-items: space-between;
}

.al-sa{
  align-items: space-around;
}

.al-s{
  align-items: start;
}

.al-e{
  align-items: end;
}

.center {
  justify-content: center;
  align-items: center;
}

.m-a{ // margin auto
  margin: auto;
}

.col {
  flex-flow: column nowrap;
}

.grid {
  display: grid;
}

.circle {
  border-radius: 50%;
}

.btn {
  padding: .5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  min-width: max-content;

  &.wb {
    // with border
    border: 2px solid #283440;
    // background-color: #283440;
  }

  &.large {
    // background-color: royalblue;
    min-width: 18rem;
  }
}

.round {
  border-radius: 5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.t-center {
  // text center
  text-align: center;
}