extends _layout.pug

block content
  include src/components/wellcome-bar/_wellcome-bar-component.pug

  main(style="margin-top:10rem").flex.center
    include src/components/mnemonic-target/_mnemonic-target-component.pug