extends _layout.pug

block content
  //- include components/user-target/user-target-component.pug
  //- include components/tweet-target/tweet-target-component.pug
  //- include components/comunity-display/comunity-display-component.pug
  //- include components/comunity-target/comunity-target-component.pug
  //- include components/trend-display/trend-display-component.pug
  //- include components/trends-target/trends-target-component.pug
  //- include components/post-bar/post-bar-component.pug
  
  include components/nav-bar/nav-bar-component.pug
  include components/main-dash-board/main-dash-board-component.pug
