extends _layout.pug

block content
  //- include components/user-target/user-target-component.pug
  //- include components/tweet-target/tweet-target-component.pug
  //- include components/comunity-display/comunity-display-component.pug
  include components/comunity-target/comunity-target-component.pug
