.Comunity-display.grid
  .comunity-image-content
    .user-image.circle
  .comunity-data-content
    h4 comunity name
    p 345 Menbers
  .comunity-action-content.flex.center
    .follow-btn.btn Follow
