label(for="test").User-account-dropdown.btn.mintext.bg-3.round.flex.center.nd.gap-1
  .user-image.s-4.circle
  span @Admin
  //- ------------------
  input#test(type="checkbox", name="test").hidden
  //- ------------------
  ul.panel-links-content.absolute.bg-3.target.flex.col.gap-1
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined account_circle] Side Admin
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined description] Timeline
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined notifications_active] Notifications
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined local_fire_department] Trending
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined tag] Explore
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined forum] Messages
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined bookmark] Bookmarks
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined gpp_maybe] Control Panel
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined account_balance_wallet] Wallet
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined campaign] Advertising
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined group_work] Lorem
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined manage_accounts] Profile Sttings
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined display_settings] Display Sttings
    li: a(href="#").flex.center.nd.gap-1 #[i.material-symbols-outlined logout] Logout
  .aux-div.fixed.hidden
  //- ------------------
