.Comunity-display.grid
  .comunity-image-content
    .user-image.circle
  .comunity-data-content
    h4 comunity name
    p.t-color-3.mintext 345 Menbers
  .comunity-action-content.flex.center
    .follow-btn.mintext.btn Follow
