.Option-button {
  max-width: max-content;
  gap: 4px;
  // background: red;
  padding: 1rem;
  background: transparent;

  .circle {
    background-color: #7c8594;
    height: 4px;
    width: 4px;
  }
}