.Com-poppup.flex.col.gap-1.nd
  .img-content.bg-3
  p.t-center Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
  .com-display-text.flex.nd.gap-1
    h4 Lorem, ipsum dolor.
    h4 Lorem, ipsum dolor.
  .com-content.grid.gap-1
    //- target
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
    include ../com-target/_com-target-component.pug
  .continue-btn.btn.round Continue
