.Rules-target.target
  h2.t-center Lorem, ipsum.
  .rues-content.mintext.t-color-3
    ol
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
      //- rule 
      li.flex.center
        p Lorem ipsum dolor sit amet
        .dropdown-btn.btn ▽
