.Comunity-target.target
  h3 Lorem, ipsum dolor.
  .comunyties-content.flex.col
    include ../comunity-display/_comunity-display-component.pug
    include ../comunity-display/_comunity-display-component.pug
    include ../comunity-display/_comunity-display-component.pug
  a(href="#") Show more