.Trends-target.target
  h3 Lorem, ipsum dolor.
  h4 Lorem, ipsum dolor.
  .trending-content.flex.col
    include ../trend-display/trend-display-component.pug
    include ../trend-display/trend-display-component.pug
    include ../trend-display/trend-display-component.pug
    include ../trend-display/trend-display-component.pug
    include ../trend-display/trend-display-component.pug
  a(href="#") Show more