.Comunity-target.target
  h3 Lorem, ipsum dolor.
  .comunyties-content
    include ../comunity-display/comunity-display-component.pug
    include ../comunity-display/comunity-display-component.pug
    include ../comunity-display/comunity-display-component.pug
  a(href="#") Show more