.Management-target.target
  h2.t-center.t-color-3 🛠 Management
  .management-content.flex.col.gap-1
    //- Management-dislplay
    .Management-dislplay
      h3 🎆 some text
      ul
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
    //- ------------------
    //- Management-dislplay
    .Management-dislplay
      h3 🎆 some text
      ul
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
    //- ------------------
    //- Management-dislplay
    .Management-dislplay
      h3 🎆 some text
      ul
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
    //- ------------------
    //- Management-dislplay
    .Management-dislplay
      h3 🎆 some text
      ul
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
        li.t-color-3 Lorem, ipsum.
    //- ------------------