extends _community-layout.pug

block main-content
  // Unmoderated-tweets-spam
  include ../components/unmoderated-tweet-spam-target/_unmoderated-tweet-spam-target.pug
  include ../components/unmoderated-tweet-spam-target/_unmoderated-tweet-spam-target.pug
  include ../components/unmoderated-tweet-spam-target/_unmoderated-tweet-spam-target.pug
  include ../components/unmoderated-tweet-spam-target/_unmoderated-tweet-spam-target.pug
  include ../components/unmoderated-tweet-spam-target/_unmoderated-tweet-spam-target.pug
