extends _community-layout.pug

block main-content
  include ../components/post-bar/_post-bar-component.pug
  // unmoderated tweets
  include ../components/unmoderated-tweet-target/_unmoderated-tweet-target.pug
  include ../components/unmoderated-tweet-target/_unmoderated-tweet-target.pug
  include ../components/unmoderated-tweet-target/_unmoderated-tweet-target.pug
  include ../components/unmoderated-tweet-target/_unmoderated-tweet-target.pug
