extends _layout.pug

block content

  include ../components/nav-bar/_nav-bar-component.pug

  main.Main-dash-board.grid
    section.main.flex.col.nd.gap-2
      //- include ../components/post-bar/_post-bar-component.pug
      // Theme-preferences
      include ../components/theme-preferences/_theme-preferences.pug

    //- left
    section.side-bar-l.flex.col.nd.gap-2
      include ../components/comunity-detail-target/_comunity-detail-target-component.pug
      include ../components/comunity-target/_comunity-target-component.pug
      //- Big buttons
      include ../components/big-button/_big-button-component.pug
      include ../components/big-button/_big-button-component.pug


    //- rigth
    section.side-bar-r.flex.col.nd.gap-2
      //- Advertisement
      include ../components/advertisement/_advertisement-component.pug

      //- rules target
      include ../components/rules-target/_rules-target-component.pug

      //- Advertisement
      include ../components/advertisement/_advertisement-component.pug

      //- Management-target
      include ../components/management-target/_management-target-component.pug


