.Post-bar.flex.target.gap-1
  .user-image-content
    .user-image.circle
  .controls-content 
    .from-control
      textarea#tweet-input.bg-3.t-color-3(rows="1",name="tweet-input", placeholder="Lorem, ipsum dolor?")
      .post-btn.btn.bg-primary post
    .btns-content.flex.gap-3
      label.btn.round.wb(for="upload-photo") 🖼 Photo
      label(for="isPopupVisible").btn.round.wb ‼ Poll
      .btn.round.wb 😄 Emogis
      //- hidden
      input#upload-photo.hidden(type="file", name="photo",accept="image/png, image/jpeg")

  //- Poll-popup
  input#isPopupVisible(type="checkbox").hidden
  include ../poll-popup/_poll-popup-component.pug