.Post-bar {
  // background-color: cornflowerblue;



  .user-image {
    background-color: #46B8DF;
  }

  .controls-content {
    flex: 8;
  }


  #tweet-input {
    font-size: 1.6rem;
    padding: 1.3rem 1rem;
    width: 100%;
    border-radius: 1rem;
    transition: all .2s;
    resize: none;
    min-height: 3em;

    &:focus {
      font-size: 2rem;
      min-height: calc(3em * 3);

      +.post-btn {
        display: flex;
        opacity: 1;
      }
    }
  }

  .post-btn {
    display: none;
    opacity: 0;
  }

  .btns-content {
    margin-top: 2rem;
  }

  //******************
  //- Poll-popup
  //******************
  input#isPopupVisible:checked {
    +.Poll-popup {
      transform: scale(1);
      opacity: 1;
    }
  }

  .Poll-popup {
    transform: scale(0);
    opacity: 0;
  }

  // ..............................................
  @media screen and (max-width: 480px) {
    .btns-content {
      gap: 1rem;
    }
  }
  @media screen and (max-width: 440px) {
    .btns-content {
      gap: 1rem;
    }
  }

}