main.Main-dash-board.grid
  section.main.flex.col
    include ../post-bar/post-bar-component.pug
    // tweets
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug

  section.side-bar-l.flex.col
    include ../user-target/user-target-component.pug
    include ../comunity-target/comunity-target-component.pug

  section.side-bar-r.flex.col
    include ../trends-target/trends-target-component.pug
