main.Main-dash-board.grid
  section.main.flex.col
    include ../post-bar/post-bar-component.pug
    // tweets
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug
    include ../tweet-target/tweet-target-component.pug

  //- left
  section.side-bar-l.flex.col.not-distribute
    include ../user-target/user-target-component.pug
    include ../comunity-target/comunity-target-component.pug
    //- Big buttons
    include ../big-button/big-button-component.pug
    include ../big-button/big-button-component.pug
    include ../big-button/big-button-component.pug


  //- rigth
  section.side-bar-r.flex.col.not-distribute
    //- Advertisement
    include ../advertisement/advertisement-component.pug

    //- rules target
    include ../rules-target/rules-target-component.pug

    //- Advertisement
    include ../advertisement/advertisement-component.pug
    
    //- Big buttons
    include ../big-button/big-button-component.pug
    include ../big-button/big-button-component.pug
    include ../big-button/big-button-component.pug
