.Post-bar {
  // background-color: cornflowerblue;
  gap: 1rem;



  .user-image {
    height: 5rem;
    width: 5rem;
    background-color: red;
  }

  .controls-content {
    flex: 8;
  }


  #tweet-input {
    width: 100%;
    border-radius: 1rem;
  }

  .btns-content {
    margin-top: 2rem;
    gap: 3rem;


    .btn {
      border-radius: 5rem;
    }
  }

}