.User-target {
  // background-color: rebeccapurple;
  max-width: 30rem;
  overflow: hidden;
  min-height: 40rem;

  .user-front-page-image {
    background: bisque;
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
  }

  .user-data-content {
    justify-content: start;

    .user-name {
      font-size: 1.4em;
      margin: 0.5rem 0rem 0rem;
    }

  }

  .account-summary * span:first-of-type {
    /* background: rebeccapurple; */
    font-size: 1.25em;
  }


  .user-image {
    margin-top: 3rem; // here??
    background-color: #46B8DF;
    width: 7rem;
    height: 7rem;
  }

  // -------------------------
  .btns-content{
    grid-template: auto / 1fr 1fr;
    
    .Big-button{
      font-size: 1em;
    }
  }


  // -------------------------
  .account-summary {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    border-bottom: solid 1px #283440;
    border-top: solid 1px #283440;
    margin: 1rem 0;
    padding: 1rem 0;

  }
}