.User-target.flex.col.target
  .user-front-page-image.absolute
  .user-data-content.flex.not-distribute.col.center
    .user-image.circle
      //- img(src="https://www.nationalworld.com/jpim-static/image/2022/07/08/16/who-is-the-richest-person-in-the-world-2022-elon-musk.jpg?width=240&quality=65&smart" alt="alt")
    span.user-name @some
    span.user-karma karma -123
    span.user-member-since member-since some
    //- ----------------------------
  .account-summary.grid
    .tweets-conunt.flex.col.center
      span count
      span 123
    .comments-conunt.flex.col.center
      span count
      span 123
    .folowing-conunt.flex.col.center
      span count
      span 123
    .folowers-conunt.flex.col.center
      span count
      span 123