.User-target.flex.col.target
  .user-data.flex.col.center
    .user-front-page-image.absolute
    .user-image.circle
    span.user-name some
    span.user-karma karma -123
    span.user-member-since member-since some
    //- ----------------------------
  .account-summary.grid
    .tweets-conunt.flex.col.center
      span count
      span 123
    .comments-conunt.flex.col.center
      span count
      span 123
    .folowing-conunt.flex.col.center
      span count
      span 123
    .folowers-conunt.flex.col.center
      span count
      span 123