.User-target.flex.col.target
  .user-front-page-image.absolute
  .user-data-content.flex.nd.col.center
    .user-image.s-1.circle
      //- img(src="https://www.nationalworld.com/jpim-static/image/2022/07/08/16/who-is-the-richest-person-in-the-world-2022-elon-musk.jpg?width=240&quality=65&smart" alt="alt")
    span.user-name @some
    img(src="https://badgen.net/badge/karma/1234/46B8DF").t-color-3.user-karma
    span.t-color-3.user-member-since member-since some
    //- ----------------------------
  .account-summary.grid
    .tweets-conunt.flex.col.center
      span 6,634
      span count
    .comments-conunt.flex.col.center
      span 9,991
      span count
    .folowing-conunt.flex.col.center
      span 5,253
      span count
    .folowers-conunt.flex.col.center
      span 4,532
      span count