.Com-target.flex.nd.bg-2
  .data-cotent.flex.nd.gap-1.center
    .com-image.bg-3.circle
    .com-detail-cotent
      p.com-name r/com name
      p.com-members-count 123 Members
  .add-btn.btn.t-color-3: i.material-symbols-outlined add_circle