.Sidebar-widgets.target
  h2 Sidebar widgets
  hr
  h2 Add Widget
  hr
  .widgets-content.flex
    //- --------------
    input#radio-1(type="radio" name="widget-select").hidden
    //- ---------------
    //- ---------------
    input#radio-2(type="radio" name="widget-select").hidden
    //- ---------------
    //- ---------------
    input#radio-3(type="radio" name="widget-select").hidden
    //- ---------------
    //- ---------------
    input#radio-unselect(type="radio" name="widget-select").hidden
    //- ---------------

    .widget-labels-content.flex.col.gap-1.nd
      //- ----------label----------
      label(for="radio-1").widget-label.flex.center.bg-3.gap-1: div
        h4 Texarea
        p.mintext.t-color-3 Annoucements, quick links, etc.
      //- ----------label----------
      label(for="radio-2").widget-label.flex.center.bg-3.gap-1: div
        h4 Images
        p.mintext.t-color-3 Art display, more cat pics etc.
      //- ----------label----------
      label(for="radio-3").widget-label.flex.center.bg-3.gap-1: div
        h4 Community list
        p.mintext.t-color-3 Recommended, related communities etc.

    .config-1
      label(for="radio-unselect").back-btn.btn.circle.wb.hidden #[i.material-symbols-outlined arrow_back]
      h3 config-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .config-2
      label(for="radio-unselect").back-btn.btn.circle.wb.hidden #[i.material-symbols-outlined arrow_back]
      h3 config-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .config-3
      label(for="radio-unselect").back-btn.btn.circle.wb.hidden #[i.material-symbols-outlined arrow_back]
      h3 config-3
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.