.Sidebar-widgets.target
  h2 Sidebar widgets
  hr
  h2 Add Widget
  hr
  .widgets-content.flex
    .widget-labels-content.flex.col.gap-1.nd
      //- ----------label----------
      label(for="radio-1").widget-label.flex.center.bg-3: div
        h4 Texarea
        p.mintext.t-color-3 Annoucements, quick links, etc.
      //- ----------label----------
      label(for="radio-2").widget-label.flex.center.bg-3: div
        h4 Images
        p.mintext.t-color-3 Art display, more cat pics etc.
      //- ----------label----------
      label(for="radio-3").widget-label.flex.center.bg-3: div
        h4 Community list
        p.mintext.t-color-3 Recommended, related communities etc.
    //- --------------
    input#radio-1(type="radio", name="widget-select").hidden
    //- ---------------
    .config-1
      h3 config-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //- ---------------
    input#radio-2(type="radio", name="widget-select").hidden
    //- ---------------
    .config-2
      h3 config-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //- ---------------
    input#radio-3(type="radio", name="widget-select").hidden
    //- ---------------
    .config-3
      h3 config-3
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.