.Rules-target.target
  h2.t-center Lorem, ipsum.
  .rues-content.mintext.t-color-3
    ol.flex.col.gap-1
      //- rule 1
      li
        input#rule-1-control(type="checkbox").hidden
        label(for="rule-1-control").flex.btn.bg-3 Lorem ipsum dolor sit amet
        .rule-description-content
          h4  Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet consectetur
           | adipisicing elit. Deleniti cum magni
           | exercitationem facilis. Neque molestias
           | similique pariatur quasi! Consectetur
           | ea quas a rem excepturi, dicta dolores
           | temporibus explicabo sunt? Consequatur.
      //- rule 2
      li
        input#rule-2-control(type="checkbox").hidden
        label(for="rule-2-control").flex.btn.bg-3 Lorem ipsum dolor sit amet
        .rule-description-content
          h4  Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet consectetur
           | adipisicing elit. Deleniti cum magni
           | exercitationem facilis. Neque molestias
           | similique pariatur quasi! Consectetur
           | ea quas a rem excepturi, dicta dolores
           | temporibus explicabo sunt? Consequatur.
      //- rule 3
      li
        input#rule-3-control(type="checkbox").hidden
        label(for="rule-3-control").flex.btn.bg-3 Lorem ipsum dolor sit amet
        .rule-description-content
          h4  Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet consectetur
           | adipisicing elit. Deleniti cum magni
           | exercitationem facilis. Neque molestias
           | similique pariatur quasi! Consectetur
           | ea quas a rem excepturi, dicta dolores
           | temporibus explicabo sunt? Consequatur.
      //- rule 4
      li
        input#rule-4-control(type="checkbox").hidden
        label(for="rule-4-control").flex.btn.bg-3 Lorem ipsum dolor sit amet
        .rule-description-content
          h4  Lorem ipsum dolor sit amet
          p Lorem ipsum dolor sit amet consectetur
           | adipisicing elit. Deleniti cum magni
           | exercitationem facilis. Neque molestias
           | similique pariatur quasi! Consectetur
           | ea quas a rem excepturi, dicta dolores
           | temporibus explicabo sunt? Consequatur.
