.Theme-preferences {

  // background-color: red;

  .link-color-content,
  .theme-color-content,
  .main-menu-color-content,
  .sub-menu-color-content {
    margin: 1rem 0;
  }


  input[type="color"]{
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 3em;
    height: 3em;

    &::-webkit-color-swatch{
      border: none;
      border-radius: .5rem;
    }
  }
}