.Trend-display.flex.not-distribute
  .trend-data-content
    p.tag #SomeTag
    p.tweets-conunt.t-color-3.mintext 97.7 k tweets
  .options-btn-content.flex.not-distribute.center
    include ../option-button/option-button-component.pug