.Trend-display.flex.not-distribute
  .trend-data-content
    p.tag #SomeTag
    p.tweets-conunt 97.7 k tweets
  .options-btn-content.flex.not-distribute.center
    .options-btn.flex.center
      .circle
      .circle
      .circle
