.Nav-bar {
  // background-color: blueviolet;
  margin-bottom: 3rem;

  background: #07131f;
  margin-bottom: 3rem;
  position: fixed;
  /* height: 100vh; */
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  padding: 1rem 2rem 0.2rem;


  .seach-bar-content .form-control {
    max-width: 25rem;
  }



  // other

  .other {
    gap: 2rem;
    justify-content: end;


    .panel-btns-content {
      gap: 2rem;
    }

    .home-link {
      background-color: #fff;
      color: #000;
      min-width: max-content;
    }




    .notifications-content {

      gap: 1rem;

    }

    .user-account-dropdown-content {
      min-width: 15rem;
      justify-content: start;
      gap: 1rem;

      &::after {
        content: '▼';
        color: #fff;
        position: absolute;
        right: 1rem; //pading
      }

      &::before {
        content: "";
        position: absolute;
        background-color: #283440;
        width: 1px;
        height: 80%;
        left: -1.4rem;
      }

      .user-image {
        background-color: aquamarine;
        height: 3rem;
        width: 3rem;
      }
    }

    .showmore-btn {
      height: 5rem;
      width: 5rem;
      // background-color: red;
    }

    .ford-points-btn,
    .messages-btn,
    .notifications-btn,
    .showmore-btn {
      background-color: transparent;
    }

  }
}