.Nav-bar {
  // background-color: blueviolet;
  margin-bottom: 3rem;
  justify-content: space-between;
  background: #07131f;
  margin-bottom: 3rem;
  position: fixed;
  /* height: 100vh; */
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  padding: 1rem 2rem 0.2rem;

  @media screen and (max-width: 960px) {
    .page-logo-content {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    background-color: #283440;
    flex-direction: row-reverse;
    justify-content: space-between;

    // .......................
    label[for="showPanelButons"] {
      display: initial;
      max-width: max-content;

      i {
        transform: rotateY(180deg)
      }
    }

    // .......................

    // .......................
    input#showPanelButons:checked {
      +.panel-btns-content {
        right: 0% // of nav padding
      }

    }

    // .......................
    .panel-btns-content {
      background-color: var(--color-2);
      position: fixed;
      transition: cubic-bezier(0, 0, 0, 1) 0.3s;
      // left: calc(0rem - 2rem); // of nav padding
      right: calc(-100% - 2rem);
      top: 5.2rem;
      padding: 6rem; // 👁 eye%
      min-height: 100vh;
      width: calc(100vw); // 👁 eye%
      flex-flow: column;
    }

    // .......................

    .user-account-dropdown-content {
      display: flex;

      &::after{
        display: none;
      }
    }

    .showmore-btn {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .user-account-dropdown-content {
      min-width: max-content !important; // fast solution
      
      &::after, &::before{
        display: none;

      }

      >*:not(.user-image) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 380px) {

    label[for="showSeachBar"]{
      display: initial;
    }

    .seach-bar-content{
      display: none;
    }
  }


  .seach-bar-content .form-control {
    max-width: 25rem;
    min-width: 18rem;
  }



  // other

  .other {
    gap: 2rem;
    justify-content: end;


    .panel-btns-content {
      gap: 2rem;
    }

    .home-link {
      background-color: #fff;
      color: #000;
      min-width: max-content;
    }




    .notifications-content {

      gap: 1rem;

    }

    .user-account-dropdown-content {
      min-width: 15rem;
      justify-content: start;
      padding: 0.5rem;

      &::after {
        content: '▼';
        color: #fff;
        position: absolute;
        right: 1rem; //pading
      }

      &::before {
        content: "";
        position: absolute;
        background-color: #283440;
        width: 1px;
        height: 80%;
        left: -1.4rem;
      }

      .user-image {
        background-color: aquamarine;
        height: 3rem;
        width: 3rem;
      }
    }

    .showmore-btn {
      height: 5rem;
      width: 5rem;
      // background-color: red;
    }

    .ford-points-btn,
    .messages-btn,
    .notifications-btn,
    .showmore-btn {
      background-color: transparent;
    }

  }


  
}