.Mnemonic-target.target
  p.warnig.t-center 
    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ut?
    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ut?
    | Lorem ipsum dolor sit,
  h2.primary.t-center Lorem, ipsum.
  p.t-center.mintext.t-color-3 Lorem ipsum dolor sit amet consectetur adipisicing.
  //- -------------------
  form.flex.col.gap-2
    .form-group
      label Lorem, ipsum dolor.
      .form-contol.flex: input(type="text", placeholder="lorem ipsum").bg-3
    .form-group
      label Lorem, ipsum dolor.
      .form-contol.flex: input(type="text", placeholder="lorem ipsum").bg-3
    .form-group.flex.center
      .confirm-btn.btn.bg-primary CONFIRM
