.Comments-section.flex.col.gap-2
  //- ------------------------------------------
  .user-account-comment-bar-content.flex.nd.center.gap-2
    .user-image.circle
    .form-control
      input(type="text", placeholder="lorem").bg-3
    .coomnet-btn.btn.bg-primary comment
  //- ------------------------------------------
  .comments-cotent.flex.col.gap-2
    //- comment
    .user-comment-content
      h3 gola #[span.comment-time-ago.mintext.t-color-3 ● 4hours ago]
      p Lorem ipsum dolor sit amet consectetur 
        | adipisicing elit. Esse, provident! Tenetur, 
        | officiis corporis iusto eum nesciunt, 
        | ducimus sed assumenda minus itaque natus 
        | temporibus. Iure sed itaque perferendis reiciendis commodi veniam!
      .comment-action-btns-content.flex.nd.gap-2
        .r-actions-content.flex.nd
          .r-action-btn ▲
          .r-action-btn ▼
        .other-content.flex.center.gap-2
          span.r-a-count 15
          .reply-btn.btn reply
